.card{
  margin: auto;
  text-align: center;
  background-color: #110c0c46;
}
.title{
  font-size: 50px;
  color: rgb(165, 15, 15);
  text-shadow: 3px 4px 5px  rgb(10, 10, 10);
}
.text{
  padding-top: 30px;
  font-size: 15px;
  color: aliceblue;

}
.text:active{
  color: bisque;
}
.img{
  width: 200px;
  height: 100px;
  margin: auto;
  margin-left: 12px;
  align-items: center;
}